In [1]:
import pandas as pd

pd.options.display.max_columns = 100

In [2]:
data = pd.read_csv('non_rand_discount.csv', sep=';')
data.head()

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,spend_5m_clothes,spend_6m_clothes,spend_1m_health,spend_2m_health,spend_3m_health,spend_4m_health,spend_5m_health,spend_6m_health,spend_1m_pet,spend_2m_pet,spend_3m_pet,spend_4m_pet,spend_5m_pet,spend_6m_pet,spend_1m_groceries,spend_2m_groceries,spend_3m_groceries,spend_4m_groceries,spend_5m_groceries,spend_6m_groceries,spend_1m_eletronic,spend_2m_eletronic,spend_3m_eletronic,spend_4m_eletronic,spend_5m_eletronic,spend_6m_eletronic,sales,discount,profit,age,gender,cust_state,tenure,sales_prediction_bins,sales_prediction
0,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,45,15,30.0,55.0,10.0,160.0,0,0,0,0.0,0.0,0.0,3368.64,US$ 125.0,40.06,40,1.0,MA,6,8,1351.024765
1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,0.0,0.0,10.0,0.0,0,0,0,0.0,0.0,0.0,2133.10,US$ 75.0,29.52,36,0.0,MG,10,4,1035.580387
2,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,25,30,35.0,0.0,20.0,50.0,0,0,0,0.0,0.0,0.0,2001.62,US$ 50.0,48.08,34,0.0,RJ,7,3,992.401825
3,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,55,135,120.0,10.0,40.0,130.0,0,0,0,0.0,0.0,0.0,1461.96,US$ 10.0,61.64,31,0.0,BA,7,1,919.720735
4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,25,0,10.0,95.0,25.0,20.0,0,0,0,0.0,0.0,0.0,2743.72,US$ 100.0,34.44,32,1.0,PB,6,6,1176.485681

In [3]:
data.describe(include='all')

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,spend_5m_clothes,spend_6m_clothes,spend_1m_health,spend_2m_health,spend_3m_health,spend_4m_health,spend_5m_health,spend_6m_health,spend_1m_pet,spend_2m_pet,spend_3m_pet,spend_4m_pet,spend_5m_pet,spend_6m_pet,spend_1m_groceries,spend_2m_groceries,spend_3m_groceries,spend_4m_groceries,spend_5m_groceries,spend_6m_groceries,spend_1m_eletronic,spend_2m_eletronic,spend_3m_eletronic,spend_4m_eletronic,spend_5m_eletronic,spend_6m_eletronic,sales,discount,profit,age,gender,cust_state,tenure,sales_prediction_bins,sales_prediction
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000,15000.000000,15000.000000,13525.000000,15000,15000.000000,15000.000000,15000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN,NaN,NaN,27,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US$ 45.0,NaN,NaN,NaN,SP,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549,NaN,NaN,NaN,3247,NaN,NaN,NaN
mean,0.766000,0.460667,0.469667,0.512000,0.482000,22.075667,3.966667,9.124667,9.605333,10.158667,10.033667,9.737333,0.680000,0.406667,0.500000,0.413333,0.34000,0.366667,0.136000,0.070667,0.081333,0.093333,0.069333,0.085333,22.457667,20.829000,45.382333,46.325333,46.463000,45.734667,3.333333,1.900000,1.700000,3.690000,3.403333,3.853333,2509.492502,NaN,45.200751,31.405133,0.505656,NaN,6.006667,4.499800,1127.639680
std,2.104805,2.532761,2.485590,2.853956,2.682938,166.373431,10.767542,52.001546,54.000821,55.195512,54.977802,54.175148,8.299128,8.356990,10.728048,9.009323,9.12268,7.607195,1.659826,1.749822,1.895686,1.943761,1.477161,1.916498,24.807040,43.863759,66.568293,66.853133,67.156399,66.043832,41.097463,58.423319,39.756115,70.963979,60.474467,67.174792,1078.895564,NaN,23.353833,6.269037,0.499986,NaN,2.440591,2.872516,279.903254
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,528.240000,NaN,-17.650000,16.000000,0.000000,NaN,0.000000,0.000000,751.202972
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1658.242500,NaN,32.570000,27.000000,0.000000,NaN,4.000000,2.000000,968.474340
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,5.000000,10.000000,10.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2316.855000,NaN,41.180000,31.000000,1.000000,NaN,6.000000,4.500000,1071.984319
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,25.000000,75.000000,80.000000,80.000000,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3298.507500,NaN,52.020000,35.000000,1.000000,NaN,8.000000,7.000000,1211.290946
max,20.000000,60.000000,70.000000,80.000000,70.000000,1650.000000,125.000000,600.000000,555.000000,525.000000,525.000000,530.000000,200.000000,300.000000,500.000000,400.000000,700.00000,300.000000,40.000000,100.000000,120.000000,80.000000,60.000000,80.000000,230.000000,955.000000,915.000000,1000.000000,830.000000,870.000000,1000.000000,5000.000000,2000.000000,4000.000000,2000.000000,2500.000000,10758.200000,NaN,492.150000,65.000000,1.000000,NaN,18.000000,9.000000,4924.383596

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   spend_1m_baby          15000 non-null  int64
 1   spend_2m_baby          15000 non-null  int64
 2   spend_3m_baby          15000 non-null  int64
 3   spend_4m_baby          15000 non-null  int64
 4   spend_5m_baby          15000 non-null  int64
 5   spend_6m_baby          15000 non-null  float64
 6   spend_1m_clothes       15000 non-null  int64
 7   spend_2m_clothes       15000 non-null  float64
 8   spend_3m_clothes       15000 non-null  float64
 9   spend_4m_clothes       15000 non-null  float64
 10  spend_5m_clothes       15000 non-null  float64
 11  spend_6m_clothes       15000 non-null  float64
 12  spend_1m_health        15000 non-null  int64
 13  spend_2m_health        15000 non-null  int64
 14  spend_3m_health        15000 non-null  int64
 15  spend_4m_health        15000 non-null  int64
 16  spend_5m_health        15000 non-null  int64
 17  spend_6m_health        15000 non-null  int64
 18  spend_1m_pet           15000 non-null  int64
 19  spend_2m_pet           15000 non-null  int64
 20  spend_3m_pet           15000 non-null  int64
 21  spend_4m_pet           15000 non-null  int64
 22  spend_5m_pet           15000 non-null  int64
 23  spend_6m_pet           15000 non-null  int64
 24  spend_1m_groceries     15000 non-null  int64
 25  spend_2m_groceries     15000 non-null  int64
 26  spend_3m_groceries     15000 non-null  float64
 27  spend_4m_groceries     15000 non-null  float64
 28  spend_5m_groceries     15000 non-null  float64
 29  spend_6m_groceries     15000 non-null  float64
 30  spend_1m_eletronic     15000 non-null  int64
 31  spend_2m_eletronic     15000 non-null  int64
 32  spend_3m_eletronic     15000 non-null  int64
 33  spend_4m_eletronic     15000 non-null  float64
 34  spend_5m_eletronic     15000 non-null  float64
 35  spend_6m_eletronic     15000 non-null  float64
 36  sales                  15000 non-null  float64
 37  discount               15000 non-null  object
 38  profit                 15000 non-null  float64
 39  age                    15000 non-null  int64
 40  gender                 13525 non-null  float64
 41  cust_state             15000 non-null  object
 42  tenure                 15000 non-null  int64
 43  sales_prediction_bins  15000 non-null  int64
 44  sales_prediction       15000 non-null  float64
dtypes: float64(17), int64(26), object(2)
memory usage: 5.1+ MB

In [5]:
data['discount'].unique()

array(['US$ 125.0', 'US$ 75.0', 'US$ 50.0', 'US$ 10.0', 'US$ 100.0',
       'US$ 45.0', 'US$ 0.0', 'US$ 5.0', 'US$ 15.0', 'US$ 160.0',
       'US$ 150.0', 'US$ 90.0', 'US$ 35.0', 'US$ 80.0', 'US$ 40.0',
       'US$ 65.0', 'US$ 70.0', 'US$ 55.0', 'US$ 120.0', 'US$ 60.0',
       'US$ 140.0', 'US$ 85.0', 'US$ 20.0', 'US$ 115.0', 'US$ 130.0',
       'US$ 105.0', 'US$ 135.0', 'US$ 25.0', 'US$ 30.0', 'US$ 110.0',
       'US$ 155.0', 'US$ 95.0', 'US$ 145.0', 'US$ 165.0', 'US$ 170.0',
       'US$ 175.0'], dtype=object)

In [6]:
data.isna().sum()[data.isna().sum() > 0]

gender    1475
dtype: int64

In [7]:
data['discount'] = data['discount'].str.split(expand=True).iloc[:, 1].astype(float)

In [8]:
data.dtypes

spend_1m_baby              int64
spend_2m_baby              int64
spend_3m_baby              int64
spend_4m_baby              int64
spend_5m_baby              int64
spend_6m_baby            float64
spend_1m_clothes           int64
spend_2m_clothes         float64
spend_3m_clothes         float64
spend_4m_clothes         float64
spend_5m_clothes         float64
spend_6m_clothes         float64
spend_1m_health            int64
spend_2m_health            int64
spend_3m_health            int64
spend_4m_health            int64
spend_5m_health            int64
spend_6m_health            int64
spend_1m_pet               int64
spend_2m_pet               int64
spend_3m_pet               int64
spend_4m_pet               int64
spend_5m_pet               int64
spend_6m_pet               int64
spend_1m_groceries         int64
spend_2m_groceries         int64
spend_3m_groceries       float64
spend_4m_groceries       float64
spend_5m_groceries       float64
spend_6m_groceries       float64
spend_1m_eletronic         int64
spend_2m_eletronic         int64
spend_3m_eletronic         int64
spend_4m_eletronic       float64
spend_5m_eletronic       float64
spend_6m_eletronic       float64
sales                    float64
discount                 float64
profit                   float64
age                        int64
gender                   float64
cust_state                object
tenure                     int64
sales_prediction_bins      int64
sales_prediction         float64
dtype: object

In [9]:
data.to_parquet('clean.parq.gzip', compression='gzip')